@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .darkmode {
    @apply text-white;
  }
  .borders {
    @apply border-2 border-red-500;
  }
  .font-color {
    @apply text-gray-600 dark:text-white;
  }
  .text-point {
    @apply text-cyan-500 hover:text-cyan-700 dark:text-cyan-300 dark:hover:text-cyan-500;
  }
  .fs-0 {
    @apply text-6xl sm:text-7xl md:text-8xl lg:text-9xl;
  }
  .fs-1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
  }
  .fs-2 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
  }
  .fs-3 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
  }
  .fs-4 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl;
  }
  .fs-4 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-xl;
  }
  /*  */
  .page {
    @apply z-10 relative max-w-6xl m-auto;
  }
  .title {
    @apply fs-1 text-cyan-500 font-bold py-5 dark:text-cyan-300;
  }
  .sub-title {
    @apply fs-3 text-cyan-500 font-bold py-5 dark:text-cyan-300;
  }
  .center {
    @apply flex flex-col justify-center items-center;
  }
  .btns {
    @apply text-point tracking-tight font-semibold border-b border-cyan-500 text-point hover:tracking-wider hover:border-cyan-700 dark:border-cyan-300 dark:hover:border-cyan-500;
  }
  .btns2 {
    @apply text-point rounded border  border-none text-point   dark:border-cyan-300 dark:hover:border-cyan-500;
  }
  .tag {
    @apply bg-cyan-500 text-white dark:bg-cyan-300 dark:text-gray-900 hover:bg-white hover:border-rose-500 hover:text-rose-500;
  }
}

/* CSS */
/* .aa {
}
.aa img {
  object-fit: cover;
  height: 100%;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.yoyo {
  transition-delay: 1s;
  --animate-delay: 0.9s;
}
.myTagCloud {
}
.myTagCloud span:hover {
  transform: scale(1.2);
}

.text {
  background-color: white;
  color: red;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Home */
.text-sha {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.down-arrow {
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 5px;
  }
  100% {
    margin-bottom: 0;
  }
}

.thumb::before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #e0f2fe;
  opacity: 0.7;
  position: absolute;
  z-index: 20;
}

.dark .thumb::before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  z-index: 20;
}

/* Slick */

.slick-list {
}

.slick-dots {
  display: block;
  bottom: -50px;
}

.slick-thumb li {
  margin: 10px;
  width: 50px;
  height: 30px;
  background-position: center;
  overflow: hidden;
  filter: grayscale(1);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.slick-thumb li:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.slick-dots .slick-active {
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  filter: grayscale(0);
}
